@import '../../styles/customMediaQueries.css';

.root {
  width: 100%;
  height: var(--topbarHeight);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0 24px;

  /* background-color: var(--colorWhite);
  box-shadow: var(--boxShadow); */
}

.LinkedLogo_root {
  margin-right: auto;
}